[submodule "hydra"]
	path = hydra
	url = ../hydra.git
[submodule "hydra-garden"]
	path = hydra-garden
	url = ../hydra-garden.git
[submodule "hydra-functions"]
	path = hydra-functions
	url = ../hydra-functions.git
[submodule "hydra-grants"]
	path = hydra-grants
	url = ../hydra-grants.git
[submodule "hydra-docs"]
	path = hydra-docs
	url = ../hydra-docs.git
[submodule "hydra-dev"]
	path = hydra-dev
	url = ../hydra.git
	branch = dev
[submodule "hydra-docs-v2"]
	path = hydra-docs-v2
	url = ../hydra-docs-v2.git
